.back{

    background-color: rgba(246, 247, 252, 0.85);
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wind {
    max-width: 434px;
    height: 198px;
    margin: 240px auto;
    background-color: #FFFFFF;

    padding: 51px 64px;
    display: flex;
    flex-direction: column;

}

.request{
margin: 0 auto;
}

.btn {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.cont-dialog-save {
    background-color: #FFFFFF;

    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}